* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.admin {
  background-color: #00665E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    font-size: 25px;
    line-height: 1.3em;
    font-weight: 900;
    color: #00665E;
  }

  &__form {
    width: 100%;
    max-width: 400px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px #46494F;
  }

  .create-category {
    &__textarea {
      resize: none;
      color: #fff;
      background-color: #00665E;
      box-shadow: 0 0 10px #46494F;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;

      &::placeholder {
        color: #fff;
      }

      &:focus {
        outline: 2px solid #46494F;
      }
    }
  }

  &__inputs {
    color: #fff;
    background-color: #00665E;
    box-shadow: 0 0 10px #46494F;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline: 2px solid #46494F;
    }
  }

  &__btn {
    display: inline-block;
    text-transform: uppercase;
    color: #00665E;
    background-color: #fff;
    box-shadow: 0 0 10px #46494F;
    font-weight: 700;
    border: none;
    padding: 20px 60px;
    border-radius: 5px;

    &:focus {
      outline: 2px solid #46494F;
    }
  }
}