* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.aside {
  padding: 20px 10px;
  width: 300px;
  height: 100%;
  background-color: #3c3ca5;

  &__wrapper {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin: 0 auto;
    width: 200px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 40px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__links {
    margin: 0 auto;
    width: 200px;
    border-radius: 4px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 1.3em;
    font-family: sans-serif;
    background-color: #fff;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 670px) {
      font-size: 14px;
    }
  }
}

.create {
  height: 100vh;
  overflow: auto;
  padding: 40px 20px;

  &__wrapper {
    gap: 40px;
    display: flex;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;

    @media (max-width: 991px) {
      font-size: 16px;
    }

    @media (max-width: 670px) {
      font-size: 14px;
    }
  }

  &__inputs {
    width: 100%;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc;

    &--textarea {
      resize: none;
    }
  }

  &__form {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  &__block {
    gap: 40px;
    display: flex;

    @media (max-width: 865px) {
      flex-direction: column;
    }
  }

  &__inner {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    cursor: pointer;
    left: 50%;
    width: 40%;
    margin-top: 50px;
    position: relative;
    padding: 20px 30px;
    transform: translate(-50%);
    border: none;
    border-radius: 5px;
    color: #FFF;
    background-color: #3c3ca5;

    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 100%;
    max-width: 295px;
    max-height: 295px;
    overflow: hidden;
    border-radius: 5px;
    // background-color: #ccc;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.delete {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 50px;
  overflow: auto;

  @media(max-width: 1120px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &__card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  &__img {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    &:hover {
      .delete__btn {
        opacity: 1;

        &:hover {
          background-color: rgb(196, 37, 37);
        }
      }

      .delete__btn-change {
        opacity: 1;

        &:hover {}
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__btn {
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: red;
  }

  &__btn-change {
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 140, 0);
  }
}